altair                   
altgraph                 
appdirs                  
asgiref                  
attrs                    
beautifulsoup4           
blinker                  
cachetools               
certifi                  
cffi                     
charset-normalizer       
click                    
colorama                 
commonmark               
contourpy                
cryptography             
cycler                   
decorator                
distlib                  
Django                   
entrypoints              
filelock                 
fonttools                
frozendict               
future                   
gitdb                    
GitPython                
html5lib                 
idna                     
image                    
importlib-metadata       
Jinja2                   
jsonschema               
kiwisolver               
lxml                     
MarkupSafe               
matplotlib               
multitasking             
numpy                    
opencv-python            
packaging                
Panda3D                  
panda3d-gltf             
panda3d-simplepbr        
pandas                   
pefile                   
Pillow                   
pip                      
platformdirs             
protobuf                 
py2exe                   
pyarrow                  
pycparser                
pydeck                   
pygame                   
Pygments                 
pyinstaller              
pyinstaller-hooks-contrib
Pympler                  
pyparsing                
pyperclip                
pyrsistent               
python-dateutil          
pytube                   
pytz                     
pytz-deprecation-shim    
pywin32-ctypes           
qrcode                   
requests                 
rich                     
scipy                    
semver                   
setuptools               
six                      
smmap                    
soupsieve                
sqlparse                 
streamlit                
streamlit-lottie         
tk                       
toml                     
toolz                    
tornado                  
typing_extensions        
tzdata                   
tzlocal                  
urllib3                  
ursina                   
validators               
virtualenv               
watchdog                 
webencodings             
yfinance                 
zipp                     
